@page
@model NintendoSwitchDeals.Web.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Deal.DealId"/>
            <div class="form-group">
                <label asp-for="Deal.NintendoId" class="control-label"></label>
                <input asp-for="Deal.NintendoId" class="form-control"/>
                <span asp-validation-for="Deal.NintendoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deal.GameName" class="control-label"></label>
                <input asp-for="Deal.GameName" class="form-control"/>
                <span asp-validation-for="Deal.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deal.Link" class="control-label"></label>
                <input asp-for="Deal.Link" class="form-control"/>
                <span asp-validation-for="Deal.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deal.ThresholdPrice" class="control-label"></label>
                <input asp-for="Deal.ThresholdPrice" class="form-control"/>
                <span asp-validation-for="Deal.ThresholdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>